$text-description-color: #9F9F9F;
$text-emphasis-description: #3019B2;
$text-title-color: #FFFFFF;
$text-second-color: #F7CA11;
$text-third-color: #271C47;
$bg-filter-produts: #F4F4F4;

$hover-color:#3019B2; 
$hover-bg-color: #FFFFFF;
$border-color: #F0F0F0;

$font-poppins: 'Poppins', sans-serif;

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$large: 1440px;